<div class= "bloc">
  <span class="text"><%= @answer %></span>
  <span class="text"><em>- You</em></span>
</div>

<div class= "bloc response">
  <span class="text gras"><%= @coach_answer %></span>
  <span class="text"><em>- Your Coach</em></span>
</div>

<%= link_to "Ask a new question", ask_path %>