<form action="/answer" class="form-group">
  <label for="answer">Ask your coach anything</label>
  <div class="input-bouton">
  <input type="text" name="answer" id="answer">
  <input type="submit" value="Ask!" id="bouton">
  </div>
</form>